<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JasyerReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C592C891BA7FCC100F982F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C592CA21BA7FCC100F982F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C592CAD1BA7FCC200F982F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
